<!-- {% extends "templates/web.html" %}

{% block page_content %}
<h2>{{ my_secret_name }}</h2>

<h1>Hello wwww pages</h1>

{%set user=frappe.session %}
<ul>
    <li> {{user}}</li>
</ul>



{% endblock %} -->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/rentals/css/secret.css">
</head>
<body>
    <h1>Hello I ma coming from static assets</h1>
</body>
</html>